

<!--
DA  v1.1
2020-7-31
Near
-->

@section Pageheader{
    <h1>
        <small> 领用登记</small>

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">领用界面</li>
    </ol>

}



<section class="content" id="tab">
    <div class="row">

        <!-- /.col -->
        <div>
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">List</h3>

                    <div class="box-tools">

                        <div class="input-group input-group-sm hidden-xs  pull-right" style="width: 200px; margin-left:5px">
                            <input type="text" name="table_search" class="form-control pull-left" v-on:keyup.enter="Search()" placeholder="Search" id="txt_Search" v-model="keywork" />

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default " v-on:click="Search()" id="btn_Search"><i class="fa fa-search"></i></button>
                            </div>

                        </div>                   
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">


                    <table class="table">
                        <tbody>
                            <tr>

                                @*<th>Id</th>*@
                                <th>使用人</th>
                                @*<th>工号</th>*@
                                <th>一级部门</th>
                                <th>二级部门</th>
                                <th>设备编号</th>
                                <th>名称</th>
                                <th>状态</th>
                                <th>规格型号</th>
                                <th>资产类型</th>
                                <th>入库日期</th>
                                <th>财务编号</th>
                                <th>计算机名</th>
                                <th>物理地址</th>
                                <th>位置</th>
                                <th>是否加域</th>
                                <th>外网权限</th>
                                <th>设备详情</th>
                                <th>备注</th>
                                <th>更新时间</th>

                                <th style="text-align:right">
                                    操作
                                </th>

                            </tr>


                            <tr v-for="(item,index) in list">
                                @*<td> {{item.Id}}</td>*@
                                <td> {{item.User}}</td>
                                @*<td> {{item.Workerid}}</td>*@
                                <td> {{item.Dep1}}</td>
                                <td> {{item.Dep2}}</td>
                                <td> {{item.Equipment_Numbers}}</td>
                                <td> {{item.Name}}</td>
                                <td> {{item.Status}}</td>
                                <td> {{item.Size_Model}}</td>
                                <td> {{item.Type}}</td>
                                <td> {{item.Inbound_Date}}</td>
                                <td> {{item.Financial_Numbers}}</td>
                                <td> {{item.Computer_Name}}</td>
                                <td> {{item.Physical_Address}}</td>
                                <td> {{item.Location}}</td>
                                <td> {{item.Add_Domain}}</td>
                                <td> {{item.Outside_Network}}</td>
                                <td> {{item.Equipment_Detailed}}</td>
                                <td> {{item.Remarks}}</td>
                                <td> {{item.Createtime}}</td>
                              
                                <td style="text-align:right">
                                    <button type="button" class="btn bg-green  btn-xs"  v-on:click="ShowReceive(item)">领用登记</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->

                <div class="box-footer no-padding">
                    <div class="card-footer clearfix pull-left" style="margin-left:20px;margin-top:30px;margin-bottom:30px">

                    </div>

                    <div class="card-footer clearfix pull-right " style="margin-right:30px;margin-top:30px;margin-bottom:30px" id="div_page">

                        <zpagenav v-bind:page="pageModel.pageIndex" v-bind:page-size="pageModel.pageSize" v-bind:total="pageModel.TotalCount"
                                  v-bind:max-page="pageModel.ToTalPage" v-on:pagehandler="Init">
                        </zpagenav>
                    </div>


                    <!-- /.pull-right -->
                </div>
            </div>
        </div>


    </div>
    <!-- /.col -->
    <!-- /.row -->

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="txt_username"> 领用界面</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">


                        @*<div class="form-group">
                               <label for="txt_projectname" class="col-sm-3 control-label">Id：</label>

                               <div class="col-sm-7">
                                   <input type="text" class="form-control" v-model="info.Id">
                               </div>
                            </div>*@

                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">工号：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="info.Workerid" v-on:keyup.enter="specifiName()">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">使用人：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="info.User">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">一级部门：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="info.Dep1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">二级部门：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="info.Dep2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">设备编号：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="info.Equipment_Numbers"  :disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">资产名称：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="info.Name" :disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">状态：</label>

                            <div class="col-sm-7">
                                <select v-model="info.Status" :disabled="true" class="form-control" style="width:320px">
                                    <option value="">请选择</option>
                                    <option>入库</option>
                                    <option>领用</option>
                                    <option>借用</option>
                                    <option>归还入库</option>
                                    <option>报废</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">规格型号：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="info.Size_Model" :disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">资产类型：</label>

                            <div class="col-sm-7">
                                <select v-model="info.Type" :disabled="true" class="form-control" style="width:320px">
                                    <option v-for="item in listType" v-bind:value="item.Type" >{{ item.Type }}</option>
                                </select>
                            </div>
                        </div>
                        @*<div class="form-group">
                               <label for="txt_projectname" class="col-sm-3 control-label">Inbound_Date：</label>

                               <div class="col-sm-7">
                                   <input type="text" class="form-control" v-model="info.Inbound_Date">
                               </div>
                            </div>*@
                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">财务编号：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="info.Financial_Numbers" :disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">计算机名：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="info.Computer_Name" :disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">物理地址：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="info.Physical_Address" :disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">位置：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="info.Location">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">是否加域：</label>

                            <div class="col-sm-7">
                                <select v-model="info.Add_Domain" class="form-control" style="width:320px">
                                    <option value="">请选择</option>
                                    <option>是</option>
                                    <option>否</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">外网权限：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="info.Outside_Network">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">设备详情：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="info.Equipment_Detailed" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_projectname" class="col-sm-3 control-label">备注：</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="info.Remarks" >
                            </div>
                        </div>                    
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right" v-on:click="Update()" v-if="operation=='receive'">确 定</button>                    
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关 闭</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
</section>




@section scripts{

    <script>

       var self;
       var vm = new Vue({
           el: "#tab",
           data: {
               list: [],
               listType: [],               
               disbtn: false,
               pageModel: {
                    pageIndex: 1,
                    pageSize: 20,
                    TotalCount: 0,
                    ToTalPage: 0,
               },   
               operation: "receive",
               info: {},             
               keywork: ""               
           },
           created: function () {
               self=this;
               self.Init(1);
               self.IntType();
           },
           mounted: function () {
               $(".el-upload__input").hide();
               $(".el-upload-list__item is-success").hide();

           },
           methods: {

               Init(index) {              
                   AjaxPost({
                       url: "/AssetMessage/List",
                       type: "POST",
                       data: {
                            pageIndex: index,
                            pageSize: self.pageModel.pageSize,
                           keyword: "入库"
                       },
                       success: function (result) {                     
                           if (!result.Success) {
                               alert_danger(result.Message);
                               return;
                           }                          
                            self.list = result.Content;

                            self.pageModel.pageIndex = result.PageIndex;
                            self.pageModel.pageSize = result.PageSize;
                            self.pageModel.TotalCount = result.TotalCount;
                            self.pageModel.ToTalPage = result.ToTalPage;
                       }
                   })
               },
               Update: function () {
                   AjaxPost({
                       url: "/AssetMessage/Update",
                       type: "POST",
                       data: self.info,
                       success: function (result) {

                           if (!result.Success) {

                               alert_danger(result.Message);
                               return;
                           }
                           $('#modal-default').modal('hide');
                           alert_success(result.Message);
                           self.Init(self.pageModel.pageIndex);

                       }
                   })

               },
               ShowReceive: function (item) {
                   this.operation = "receive";
                   console.log(item);
                   if (item.Status != "入库" && item.Status != "归还入库") {
                       alert_info("资产不在仓库，无法进行领用登记！");
                       return;
                   }
                   else {
                       $('#modal-default').modal('show');
                       item.Status = "领用";
                       this.info = item;
                   }
               },
               Search: function () {
                   AjaxPost({
                       url: "/AssetMessage/List",
                       type: "POST",
                       data: {
                           pageIndex: 1,
                           pageSize: self.pageModel.pageSize,
                           keyword: self.keywork
                       },
                       success: function (result) {
                           if (!result.Success) {
                               alert_danger(result.Message);
                               return;
                           }
                           self.list = result.Content;

                           self.pageModel.pageIndex = result.PageIndex;
                           self.pageModel.pageSize = result.PageSize;
                           self.pageModel.TotalCount = result.TotalCount;
                           self.pageModel.ToTalPage = result.ToTalPage;
                       }
                   })
               },
               EnterKeyup() {
                 
                    document.onkeypress = function (e) {
                        var keycode = document.all ? event.keyCode : e.which;

                        if (keycode == 13) {
                            self.Init(1);
                            return false;
                        }
                    };
                },
               IntType() {
                   //1,请求控制器，获取数据
                   AjaxPost({
                       url: "/AssetType/List",
                       type: "POST",
                       data: {
                           keyword: null,
                       },
                       success: function (result) {

                           if (!result.Success) {

                               alert_danger(result.Message);
                               return;
                           }

                           //2，把值赋给listType[]
                           self.listType = result.Content;
                           
                           //3，把listtype 循环展示出来

                       }
                   })
               },
               specifiName() {
                   let _this = this;
                   AjaxPost({
                       url: "/People/List",
                       type: "POST",
                       data: {
                           keyword: _this.info.Workerid,
                       },
                       success: function (result) {

                           if (!result.Success) {

                               alert_danger(result.Message);
                               return;
                           }
                           //1.获取人员信息
                           //2，把值赋给peopleInfo{}
                           self.peopleInfo = result.Content;
                           
                           //3.根据使用人信息绑定工号和使用部门
                           _this.info.User = self.peopleInfo[0].Name;
                           _this.info.Dep1 = self.peopleInfo[0].Dep2;
                           _this.info.Dep2 = self.peopleInfo[0].Dep3;
                       }

                   })
               }          
           }
       });


    </script>

}